[submodule "imgui"]
	branch = master
	path = src/lib/imgui
	url = https://github.com/ocornut/imgui
	shallow = true
[submodule "imgui-vita"]
	path = src/lib/imgui-vita
	url = https://github.com/sand-box2d/imgui-vita
